/* styles_Snake.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.game-container {
    position: relative;
    border: 5px solid #333;
    background-color: #fff;
}

canvas {
    display: block;
}

#score, #speed {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 18px;
}
