body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.mode-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.mode-selection button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    margin: 10px;
}

.mode-selection button:hover {
    background-color: #555;
}

.game-container {
    position: relative;
    border: 5px solid #333;
    background-color: #fff;
    width: 90vw;
    height: 90vw;
    max-width: 600px;
    max-height: 600px;
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
}

#score, #best-score {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
    border-radius: 5px;
    font-size: 1.2em;
}

#best-score {
    top: 10px;
    right: 10px;
    left: auto;
}

.controls {
    margin-top: 20px;
    text-align-last: center;
}

.control-btn {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 2em;
    margin: 5px;
    cursor: pointer;
}

.control-btn:hover {
    background-color: #555;
}

.horizontal-controls {
    display: flex;
    justify-content: center;
}

#server-selection, #server-setup, #lobby {
    text-align: center;
    margin-top: 20px;
}

#serverList {
    list-style-type: none;
    padding: 0;
}

#serverList li {
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ccc;
}

#serverList li img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

#serverList li .server-name {
    flex: 1;
    text-align: left;
}

#serverList li .lock-icon {
    margin-left: 10px;
}

#server-setup {
    text-align: center;
}

#server-setup input, #server-setup select {
    margin: 10px 0;
    padding: 10px;
    width: 80%;
    max-width: 300px;
}

#server-setup button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2em;
}

#lobby {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#playerList {
    list-style-type: none;
    padding: 0;
}

#playerList .player-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#playerList .player-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

#playerList .player-name {
    font-size: 1.2em;
}

/* Общие стили для кнопок */
button {
    padding: 15px 30px;
    font-size: 18px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #333;
    color: white;
}

button:hover {
    background-color: #555;
}

/* Modal styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
